<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <a href="/about"> About </a>>
        <a href="/contact - us/"> Contact Us </a>>
        <a href="/store/"> Store </a>>
    </nav>
    <h1> Welcome </h1>
    <h2> This is my webpage </h2>
    <p> Hellp, first webpage</p>
    <img src="{{url_for('static', filename='img.ico')}}" style="width:100px">
    <br>
    <a href="https://google.com"> Google Page </a>
</body>
</html>